:root {
  --background-color: #0f0e17;
  --title-color: #fffffe;
  --text-color: #fffffe
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
}

.icon-color {
  color: var(--text-color)
}

.icon-color:hover {
  color: var(--background-color);
  transition: color 300ms ease-in
}

h1, h2 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2.5rem;
  padding: 0 48px;
  color: var(--title-color);
  z-index: 3;
}


.container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

a {
  color: #3867d6;
  display: block;
}

a:hover {
  text-decoration: none;
}

.sticky {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.8;
}

.social {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e53170;
}

.container-column {
  background-color: var(--background-color);
}

.container-column.smaller {
  height: 90vh;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
}

.card {
  width: 800px;
  height: 525px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
  z-index: 3;
}

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 2;
}

.top {
  top: 0;
}

.waves1 {
  background-image: url('../assets/01-layered-waves-haikei.svg');
}

.blurry-gradient-bg {
  background-image: url('../assets/09-blurry-gradient-haikei.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flip {
  /* bottom: 100; */
  transform: rotate(180deg);
}

.blob-scene {
  background-image: url('../assets/02-blob-scene-haikei.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave-scene {
  background-image: url('../assets/03layered-waves-haikei.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blob-bg {
  background-image: url('../assets/04-blob-bg-haikei.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blob-repeat-bg {
  background-image: url('../assets/05-circle-scatter-haikei.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave-divider {
  background-image: url('../assets/06-wave-haikei.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.wave-divider-2 {
  background-image: url('../assets/07-wave-haike-2i.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.blob-scatter {
  background-image: url('../assets/08-blob-scatter-haikei.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.fade-in {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 400ms ease-in, 
    transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}